[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Greg Lowe
	email = 18699503+GonzoTG@users.noreply.github.com
	username = GonzoTG

[init]
	defaultBranch = main
